#about {
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
}

.content {
  box-sizing: border-box;
  width: 80%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.content > img {
  margin-top: 36px;
  min-height: 250px;
  height: 40vmin;
}

#info {
  width: 70%;
}

#about-header {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #00afb9;
  line-height: 0.1em;
  font-size: 48px;
  margin-bottom: 48px;
}

#about-header > span {
  background: #121f2b;
  padding-right: 8px;
}

#info > p {
  width: 90%;
  font-size: 20px;
  margin-left: 32px;
}

#details { 
  width: 80%;
  max-width: 1200px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 48px 0;
}

#details > h2 {
  width: 100%;
  border-bottom: 1px solid #00afb9;
  line-height: 0.1em;
  font-size: 36px;
  margin-bottom: 48px;
}

#details > h2 > span {
  background: #121f2b;
  padding: 0 8px;
}

#icon-container {
  width: 80%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.icon-card {
  box-sizing: border-box;
  height: 120px;
  width: 120px;
  border: 1px solid white;
  border-radius: 50%;
  background-color: #206872be;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.icon-card:nth-of-type(6) > .emoji {
  color: pink;
}

.emoji {
  font-size: 32px;
}

.label {
  font-size: 18px;
  width: 90%;
}

@media only screen and (max-width: 900px) {
  #about-header {
    font-size: 36px;
    width: 100%;
  }
}

@media only screen and (max-width: 720px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  #info > p:nth-child(2) {
    margin-bottom: 0;
  }

  .content > img {
    margin-top: 0;
  }

  #info {
    width: 100%;
  }

  #about-header {
    text-align: center;
  }
  
  #icon-container {
    gap: 16px;
  }
  
  #icon-container {
    width: 90%;
  }
  
  .icon-card {
    height: 100px;
    width: 100px;
  }
  
  .emoji {
    font-size: 18px;
  }
  
  .label {
    font-size: 16px;
  }
}

@media only screen and (max-width: 420px) {
  .content > img {
    margin-top: 0;
    height: 300px;
    width: 241px;
  }
  #about-header {
    text-align: center;
  }

  #icon-container {
    gap: 8px;
  }

  .icon-card {
    height: 72px;
    width: 72px;
  }
  
  .emoji {
    font-size: 16px;
  }
  
  .label {
    font-size: 12px;
  }
}