@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600&display=swap');

#root {
  background-color: #121f2b;
  color: #ffffff;
  font-family: 'Barlow', sans-serif;
  overflow-y: hidden;
}

#nav-blur-bar {
  z-index: 1;
  min-width: 100%;
  min-height: 64px;
  -webkit-backdrop-filter: blur(5px);
  -moz-backdrop-filter: blur(5px);
  -o-backdrop-filter: blur(5px);
  -ms-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #121f2bbb;
  position: fixed;
}

.full-nav {
  z-index: 2;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  height: 64px;
}

.full-nav > a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px 16px;
}

.full-nav > a:hover {
  background-color: rgb(255, 255, 255, 0.8);
  color: #00afb9;
  border-radius: 20px;
}

.full-nav > .active {
  background-color: #ffffff;
  color: #00afb9;
  border-radius: 20px;
}

.full-nav > a:active {
  background-color: #e1e1e1;
  transform: scale(0.93)
}

.menu-button {
  color: #ffffff;
  background: none;
  border: none;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 2;
  margin: 10px 8px;
  font-size: 32px;
  height: 48px;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.open {
  font-size: 24px;
  background-color: #ffffff;
  color: #00afb9;
  border-radius: 50%;
}

.menu-button:hover {
  background-color: rgb(255, 255, 255, 0.8);
  color: #00afb9;
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-nav {
  background-color: #334b61;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 64px 32px 24px 32px;
  border: 1px solid #617b93;
}

.dropdown-nav > a {
  font-size: 20px;
  padding: 8px 16px;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.dropdown-nav > .active {
  background-color: #86a3be;
  border-radius: 25px;
}

.dropdown-nav > a:hover {
  background-color: #6a86a1;
  border-radius: 25px;
}

.dropdown-nav > a:active {
  transform: scale(0.93);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin: 16px;
}

.footer > a > img {
  height: 40px;
}

@media only screen and (max-width: 500px) {
  .footer {
    margin: 16px;
  }

  .footer > a > img {
    height: 40px;
  }

  .menu-button {
    height: 36px;
    width: 36px;
    font-size: 24px;
  }

  .open {
    font-size: 16px;
  }
  
  .dropdown-nav {
    padding-top: 56px;
  }
  
  .dropdown-nav > a {
    font-size: 16px;
    padding: 4px 12px;
  }
}