@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200;400;600&display=swap');

#root {
  background-color: #121f2b;
  color: #ffffff;
  font-family: 'Barlow', sans-serif;
  overflow-y: hidden;
}

.prevent-scroll {
  overflow-y: hidden;
}

nav {
  background-color: #121f2b9a;
  width: 100%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  height: 64px;
}

nav > a {
  text-decoration: none;
  color: #ffffff;
  padding: 8px 16px;
}

nav > a:hover {
  background-color: rgb(255, 255, 255, 0.8);
  color: #00afb9;
  border-radius: 20px;
}

.active {
  background-color: #ffffff;
  color: #00afb9;
  border-radius: 20px;
}

nav > a:active {
  background-color: #e1e1e1;
  transform: scale(0.93)
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  margin: 32px;
}

.footer > a > img {
  height: 50px;
}