#contact {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 100px;
  width: 55%;
  max-width: 642px;
}

#contact > h1 {
  width: 100%;
  max-width: 650px;
  text-align: center;
  border-bottom: 1px solid #00afb9;
  line-height: 0.1em;
  font-size: 48px;
}

#contact > h1 > span {
  background: #121f2b;
  padding: 0 8px;
}

#email-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
  width: 90%;
  max-width: 600px;
}

#email-content > h3 {
  text-align: left;
  max-width: 600px;
}

#email-content > h3 > a {
  text-decoration: none;
}

#email-content > h3 > a:hover {
  text-decoration: underline #00afb9;
  font-style: italic;
}

#email-content > a > img {
  height: 54px;
  width: 54px;
  transition: ease 0.5s;
}

#email-content > a > img:hover {
  transform: translateY(-8px);
}

#email-content > a > img:active {
  transform: scale(0.93)
}

#socials-container {
  display: flex;
  flex-direction: column;
  text-align: left;
  align-items: center;
  gap: 16px;
  width: 100%;
}

#socials-container > h2 {
  width: 100%;
  max-width: 650px;
  text-align: center;
  border-bottom: 1px solid #00afb9;
  line-height: 0.1em;
  font-size: 36px;
}

#socials-container > h2 > span {
  background: #121f2b;
  padding-right: 8px;
}

#socials-container > div {
  width: 90%;
  max-width: 600px;
  display: flex;
  gap: 32px;
}

#socials-container > div > a > img {
  height: 50px;
  width: 50px;
  box-shadow: none;
  transition: ease 0.5s;
}

#socials-container > div > a > img:hover {
  transform: translateY(-8px);
}

#socials-container > div > a > img:active {
  transform: scale(0.93)
}

@media only screen and (max-width: 850px) {
  #socials-container > h2 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 700px) {
  #contact > h1 {
    font-size: 32px;
  }
  
  #contact > h1 {
    font-size: 36px;
  }
  
  #socials-container > h2 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 550px) {
  #contact {
    width: 90%;
  }
}