.home-main {
  width: 100%;
  /* max-width: 1400px; */
  display: flex;
  justify-content: center;
  height: 100vh;
  margin-top: 100px;
}

#content-container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  gap: 2vmin;
}

.bg {
  color: #00afb9;
}

.header {
  width: 60%
}

.header > p {
  width: 70%;
}

.header > p:first-child {
  font-size: 24px;
}

.header > p:last-child {
  font-size: 20px;
}

.header > h1 {
  width: 100%;
  border-bottom: 1px solid #00afb9;
  line-height: 0.1em;
  font-size: 48px;
}

.header > h1 > span {
  background: #121f2b;
  padding-right: 8px;
}

#headshot {
  height: 35vmin;
  width: 35vmin;
  box-shadow: 8px 8px #121f2b, 
    10px 10px #00afb9;
}

@media only screen and (max-width: 768px) {
  main {
    margin-top: 50px;
  }
  
  #content-container {
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .header {
    width: 100%;
  }

  .header > p {
    width: 90%;
  }
  
  #headshot {
    height: 40vmin; 
    width: 40vmin;
    margin-left: 50%;
  }
  
}

@media only screen and (max-width: 400px) {  
    .header > h1 {
      font-size: 36px;
    }

    .header > p:first-child {
      font-size: 20px;
    }

    .header > p:last-child {
      font-size: 16px;
    }
}

@media only screen and (max-height: 500px) {  
    .header > h1 {
      font-size: 36px;
    }

    .header > p {
      font-size: 16px;
    }
}