#home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  padding-bottom: 150px;
}

#content-container {
  width: 90%;
  max-width: 1000px;
  display: flex;
  justify-content: center;
  gap: 2vmin;
}

.bg {
  color: #00afb9;
}

.header {
  width: 60%
}

.header > p:first-child {
  margin-top: 8px;
}

.header > p:nth-child(3) {
  width: 100%;
  max-width: 425px;
}

.header > p:first-child {
  font-size: 24px;
}

.header > p:nth-child(3) {
  font-size: 20px;
  margin-bottom: 32px;
}

.header > h1 {
  width: 100%;
  border-bottom: 1px solid #00afb9;
  line-height: 0.1em;
  font-size: 48px;
}

.header > h1 > span {
  background: #121f2b;
  padding-right: 8px;
}

.header > div {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-right: 32px;
  width: 100%;
}

.header > div > a {
  font-size: 18px;
  text-decoration: none;
  padding: 8px 16px;
  border: 1px solid #ffffff;
  color: #ffffff;
  border-radius: 20px;
  text-align: center;
}

.header > div > a:hover {
  color: #00afb9;
  background-color: rgb(255, 255, 255, 0.8);
}

.header > div > a:active {
  transform: scale(0.93);
}

.skills-container {
  margin-top: 72px;
  width: 65%;
  max-width: 750px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.badge {
  height: 40px;
  border-radius: 8px;
}

#headshot {
  height: 35vmin;
  width: 35vmin;
  box-shadow: 8px 8px #121f2b, 
    10px 10px #00afb9;
}

@media only screen and (max-width: 900px) {
  .badge {
    height: 32px;
  }
}

@media only screen and (max-width: 730px) {
  .header > h1 {
    font-size: 32px;
  }
  
  .header > p:first-child {
    font-size: 20px;
    margin-top: 16px;
  }
  
  .header > p:nth-child(3) {
    font-size: 18px;
    margin-bottom: 24px;
  }
  
  .header > div > a {
    font-size: 16px;
  }
  
  .skills-container {
    gap: 8px;
  }
}

@media only screen and (max-width: 550px) {  
  .header > div {
    width: 175%;
    margin-top: 64px;
  }

  .skills-container {
    margin-top: 32px;
  }
}

@media only screen and (max-width: 450px) {  
  .header > h1 {
      font-size: 24px;
    }

    .header > p:first-child {
      font-size: 18px;
    }

    .header > p:last-child {
      font-size: 16px;
    }
}
